# Entorno virtual
venv/
.env

# Credenciales (no deben ser subudas, cada usuario genera lo suyo)
credentials.json
token.json

# Cache de Python
__pycache__/
*.pyc

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db